.container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid orange;
}

.textInfo {
    margin-top: auto;
}
