.suspensePhoneContainer{
    height: auto;
    width: auto;
    text-align: center;
}

.suspensePhoneImg {
    height: 380px;
    width: 188px;
}

.suspenseTxt {
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 100%;
    color: #BBBBBB;
    font-family: 'Inter';
}
