.container {
  display: flex;
  align-items: center;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.img {
  min-height: 56px;
  min-width: 56px;
  flex-shrink: 0;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;

  p {
    font-family: "inter";
    font-size: clamp(12px, 1.1vw, 16px);
  }
}

.titleWrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  h3 {
    font-size: clamp(12px, 1.1vw, 16px);
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: "exo";
  }
}

.bullet {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ffffff;
  flex-shrink: 0;
}

/* Responsividade para telas menores que 1024px */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
