.timeReadingSpan{
    display: flex;
    margin-left: 8px;
    color: #BBBBBB;
    align-items: center;
}

.icon{
    margin-right:0.5px;
    width: 15px;
    height: 15px;
}

.iconTotalReading {
    width: 24px;  
    height: 24px;
    filter: brightness(0) invert(1);
    margin: 3px;
}


.txtTotalReading{
    color: #FFFFFF;
}