.sobremimContainer {
    height: 85vh; 
    max-width: 1100px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
    }
}

.imgSection {
    flex: 0 0 430px;

    @media (max-width: 768px) {
        flex: 0 0 auto;
        max-height: 50vh;
    }
}

.img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.contentSection {
    flex: 1;
    max-width: 631px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 40px;
    height: 100%;
    
    @media (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
    }
}

.title {
    font-size: 40px;
    
    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.title>span {
    color: var(--fadeTextColor);
}

.para {
    font-size: 16px;
}

.para>span {
    font-weight: bold;
}

.ferramentasSection{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.ferramentasSection > p {
    margin: 16px 0;
}

.ferramentasWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 789px;
    position: relative;
    overflow: hidden;
    
    @media (max-width: 840px) {
        width: 100%;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        z-index: 2;
    }

    &::before {
        left: 0;
        background: linear-gradient(to right, var(--backgroundColor) 0%, transparent 100%);
    }

    &::after {
        right: 0;
        background: linear-gradient(to left, var(--backgroundColor) 0%, transparent 100%);
    }
}

.ferramentasInner {
    display: inline-flex;
    gap: 30px;
    align-items: center;
    width: max-content;
    animation: scrollTools 15s linear infinite;
}

.empresasWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    
    @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 15px;
    }
}

.empresasImg {
    max-width: 100%;
    height: auto;
}


@keyframes scrollTools {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 15px));
    }
}