.sobremimContainer {
    height: 900px;
    max-width: 1100px;
    display: flex;
    gap: 40px;
}

.imgSection {
    flex: 0 0 430px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentSection {
    flex: 1;
    max-width: 631px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
}

.title {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
}

.title>span {
    color: var(--fadeTextColor);
}

.para {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.para>span {
    font-weight: bold;
}

.ferramentasWrapper {
    display: flex;
    align-items: center;
    width: 789px;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        z-index: 2;
    }

    &::before {
        left: 0;
        background: linear-gradient(to right, var(--backgroundColor) 0%, transparent 100%);
    }

    &::after {
        right: 0;
        background: linear-gradient(to left, var(--backgroundColor) 0%, transparent 100%);
    }
}

.ferramentasInner {
    display: inline-flex;
    gap: 30px;
    align-items: center;
    width: max-content;
    animation:
        scrollTools 15s linear infinite;
}

.empresasWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes scrollTools {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 15px));
    }
}