.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
  gap: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 500px;
}

.stepWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  gap: 10px;

  img {
    width: 200px;
    height: 370px;
    object-fit: cover;
  }

  p {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    width: 75%;
    min-height: 60px;
  }
}

.number {
  color: #ed387b;
  font-size: 20px;
  font-weight: 700;
  z-index: 999;
  position: relative;
  background-color: #0f0f0f;
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mainStepContainer {
  display: flex;
  margin-left: 15%;

  img {
    width: 341px;
    height: 504px;
    object-fit: cover;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 75%;

  p {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    max-width: 200px;
  }
}
