.caseNav {
    width: 340px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    background-color: var(--CaseNavBg);
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
    margin: 80px 0;
    transition: background-color 0.5s ease;
}

.caseIcon {
    position: absolute;
    margin-top: 3%;
    width: 56px;
}

.idText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textNormal {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.textHover {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    margin: 8px 55px 7px 55px;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caseContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    overflow: visible !important;
    position: relative;
}

.imageWrapper {
    height: 70%;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hoverImg {
    opacity: 0;
    transform: translateY(50px);
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation-name: slideUpEffect;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.caseTypeIndicator {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: right;
    position: absolute;
    margin-top: 12%;
    margin-left: 42%;
    color: #7F7F7F;
    animation: show 0.5s ease-in-out;
    width: 35%;
}

@keyframes show {
    0% {
        opacity: 0;
        transform:translateX(-50px);
    }

    100% {
        opacity: 1;
        transform:translateX(0);
    }
}

@keyframes slideUpEffect {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}