.caseNav {
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: var(--CaseNavBg);
    display: flex;
    color: #F7F7F7;
    transition: background-color 0.5s ease;
    justify-content: space-between;
    position: relative;
}

.caseNavHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.caseNavHeader>h3 {
    font-size: 28px;
    font-weight: bolder;
}

.caseNavHeader>p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
}

.caseImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.caseImgWrapper:hover {}

.imgPreview {
    object-fit: contain;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

.hoverImg {
    opacity: 0;
    animation-name: slideUpEffect;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    width: 90%;
    height: auto;
    object-fit: cover;
}

.caseIndicator {
    position: absolute;
    bottom: 10%;
    left: -50%;
    right: 0;
    display: flex;
    justify-content: center;
}

.caseIcon {
    position: absolute;
    margin-top: 2%;
    margin-left: 33%;
    width: 56px;
}

.caseTypeIndicator {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    position: absolute;
    font-style: italic;
    margin-top: 8%;
    margin-left: 30%;
    color: var(--textSucess);
    animation: show 0.5s ease-in-out;
    width: 35%;
}


@keyframes slideUpEffect {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}