.page-container {
    width: 100%;
    display: flex;
    scroll-behavior: smooth;
    flex-direction: column;
}

/* SECTIONS */
.chapter {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--textColor);
    margin: 40px 0;
    align-items: center;
}

.chapter-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 72px;
    width: 100%;
}

section.chapter:nth-child(odd) {
    background-color: #0F0F0F;
}

section.chapter:nth-child(even) {
    background-color: #272727;
}

.subsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
}

.content-container {
    width: 100%;
}

.content-container>div {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 72px;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.content-text {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    font-size: 16px;
    width: 100%;
}

.content-text span {
    font-weight: 700;
}

.simple-title {
    width: 50%;
    margin: 0 auto;
}

.content-list {
    margin-left: 30px;
}

.content-list li span {
    font-weight: bolder;
}

.subsection-title {
    text-align: center;
}

.subsection-img__wrapper {
    width: 100%;
    margin: 80px 0 40px 0;
}

.case-title__wrapper {
    width: 100%;
    margin: 40px 0;
    max-width: 1440px;
}

.title-text__container {
    max-width: 1440px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-text__container h3 {
    color: #BBBBBB;
    font-size: 24px;
}

.description-text {
    font-family: 'Inter';
    font-size: 16px;
    color: #BBBBBB;
    font-weight: 400;
}

.description-text span {
    color: #F3DA8B;
}

.list-wrapper {
    margin: 40px 0;
    width: 100%;
}

.list-wrapper ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 72px;
    width: 55%;
}

.list-wrapper ul li {
    color: #BBBBBB;
    font-size: 16px;
}

/* FOOTER*/
.footer-text {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 72px 40px;
    width: 30%;
    text-align: center;
    color: var(--textColor);
}



// UTILS
.strong-white {
    color: #FFFFFF !important;
}