@use "../../escopecasepage.scss" as *;

/* CASE TITLE HEADER STYLES */
.caseTitleWrapper {
  width: 100%;
  max-width: 1440px;
  margin: 20px 0 0 0;
}

.titleTextContainer {
  max-width: 1440px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleTextContainer h3 {
  color: #bbbbbb;
  font-size: 24px;
}

.descriptionText span {
  color: #f3da8b;
}

.idText {
  font-size: 32px;
}

.titleTextContainer .strongWhite {
  color: #ffffff;
}

.descriptionText {
  font-family: "Inter";
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

/* Cor opcional #bbb para subtítulo quando subtitleWhite={false} */
.descriptionText.grayText {
  color: #bbb;
}

/* Estilo para subtítulo em formato de parágrafo (textos longos) */
.paragraphStyle {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 100%;
  text-align: left;
  padding: 20px 0;
}

.paragraphStyle {
  color: #ffffff;
}

.paragraphStyle.grayText {
  color: #bbb;
}

/* Estilos para capítulo especial */
.special-chapter .titleTextContainer h3 {
  color: #bbbbbb;
}

.special-chapter .descriptionText span {
  color: #f3da8b;
}
