@use "../../escopecasepage.scss" as *;

/* CONTENT SECTION STYLES */
.contentContainer {
  width: 100%;
}

.contentContainer > div {
  max-width: var(--max-width);
  margin: var(--center-margin);
  padding: var(--container-padding);
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contentTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.contentSubtitle {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #bbbbbb;
}

.contentBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
