.container {
    display: flex;
    justify-content: space-between;
}

.infoWrapper {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.projectDataWrapper {
    display: flex;
    align-items: center;
}

.navWrapper {
    display: flex;
    align-items: center;
}

.dataDotWrapper {
    display: flex;
    align-items: center;
    width: 161px;
    justify-content: space-evenly;
}

.nome {
    font-weight: 700;
    font-size: 24px;
}

.projeto {
    font-weight: 700;
    font-size: 40px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--fadeTextColor);
    display: inline-block;
    opacity: 0.7;
}

.data {
    font-weight: 400;
    font-size: 24px;
    color: var(--fadeTextColor);
}

.caseNav {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: var(--CaseNavBg);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    position: relative; 
}

.active {
    font-weight: bolder;
}

.underConstruction {
    opacity: 0.8;
    pointer-events: auto;
    background-color: #7f7f7f;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.caseId {
    transition: opacity 0.2s ease;
}

.constructionIcon {
    height: 22px;
    animation: slideUp 0.3s ease forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}