.quoteContainer {
  width: 100%;
}

.quoteContainer > div {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  width: var(--layout-content-width);
  display: flex;
  flex-direction: column;
}

.quoteContainer h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 20px;
}

.quoteContainer p {
  font-family: "Exo", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
}
