.homeContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titleSectionContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlesWrapper {
    width: 206px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    margin: 10px 0;

    img {
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.3s ease;
    }

    &:hover {
        img {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.titlesWrapper>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin: 0 56px;
}

.titlesWrapper>p:first-child {
    margin: 0 15px;
}

.textDegrade {
    color: var(--fadeTextColor);
    transition: all 0.3s ease;
}

.subtitle {
    position: absolute;
    top: 64%;
    left: 54%;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}

.NavCasesWrapper {
    display: flex;
}

.contatoWrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.footerTxt {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

#privameraTxt,
#outonoTxt,
#invernoTxt {
    transition: all 0.3s ease;
}

#privameraTxt:hover:not(.textDegrade) {
    color: #F03599B2;
}

#outonoTxt:hover:not(.textDegrade) {
    color: #905410B2;
}

#invernoTxt:hover:not(.textDegrade) {
    color: #1E96FFB2;
}

p:hover .textDegrade {
    color: #0000004D;
}