.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  position: relative;
}

.suspenseTxt {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 40%;
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    font-family: "inter";
  }
}

.suspenseTxt1 {
  left: -17%;
  top: 43%;
  text-align: right;
}

.suspenseTxt2 {
  right: -17%;
  top: 15%;
  text-align: left;
}
