.container {
    position: relative;
    margin: 40px 0;
    width: 100%;
}

.btnWrapper {
    position: absolute;
    top: -5%;
    right: 2%;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: clamp(12px, 1vw, 14px);
    color: #BBBBBB;
    align-items: center;

    p {
        font-size: clamp(12px, 1vw, 14px);
        font-style: italic;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #F3DA8B;
    background-color: inherit;
    font-weight: normal;
    cursor: pointer;
    font-family: 'Inter';
    gap: 6px;
    font-size: clamp(12px, 1vw, 14px);
    font-style: italic;
}

/* Responsividade para telas menores que 1380px */
@media (max-width: 1380px) {
    .btnWrapper {
        right: 1%;
    }
}

@media (max-width: 768px) {
    .btnWrapper {
        position: relative;
        top: auto;
        right: auto;
        justify-content: flex-end;
        padding: 10px 0;
    }
}
