.container {
    position: relative;
    margin: 40px 0;
}

.btnWrapper {
    position: absolute;
    margin-top: -7.5%;
    display: flex;
    justify-content: center;
    margin-left: 87%;
    gap: 4px;
    font-size: 14px;
    color: #BBBBBB;
    align-items: center;

    p {
        font-size: 14px;
        font-style: italic;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #F3DA8B;
    background-color: inherit;
    font-weight: normal;
    cursor: pointer;
    font-family: 'Inter';
    gap: 6px;
    font-size: 14px;
    font-style: italic;
}