.contentContainer {
  width: 100%;
}

.contentContainer > div {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  width: var(--layout-content-width);
  display: flex;
  flex-direction: column;
}

.contentBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contentTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.contentText {
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  font-size: 16px;
  width: 100%;

  span {
    font-weight: 700;
  }
}

.contentList {
  margin-left: 30px;

  li {
    span {
      font-weight: bolder;
    }
  }
}
