.header {
    width: 100%;
    min-height: 64px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--textColor);
    flex-wrap: wrap;
    row-gap: 8px;
}

.linkWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    a {
        position: relative;

        &:not(:last-child)::after {
            content: '|';
            margin: 0 8px;
            color: var(--textColor);
        }
    }
}
