@use "../escopecasepage.scss" as *;

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0 20px 0;
  box-sizing: border-box;
}

.pushNotificationsContainer {
  display: flex;
  width: 100%;
  max-width: 85%;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: clamp(10px, 1.4vw, 20px);
  box-sizing: border-box;
}

.colResults {
  gap: clamp(15px, 2.1vw, 30px);
  height: auto;
  width: 100%;
  padding-right: clamp(10px, 1.4vw, 20px);
  margin-bottom: 40px;
  box-sizing: border-box;
}

/* Responsividade para telas menores que 1380px */
@media (max-width: 1380px) {
  .pushNotificationsContainer {
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .pushNotificationsContainer {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .colResults {
    padding-right: 0;
  }
}
