@use '../escopecasepage.scss' as *;

.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
}

.suspensePhoneImg {
    position: absolute;
    left: 0;
    top: 0;
}

.suspenseTxt {
    position: absolute;
    top: 76%;
    left: 0%;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 100%;
}

.colResults {
    gap: 30px;
    height: 80%;
    width: 100%;
    padding-right: 20px;
    margin-bottom: 40px;
}

.titleCol {
    margin-bottom: 24px;
}