.header {
    width: 100%;
    min-height: 64px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkWrapper {
    display: flex;
    align-items: center;

    a {
        position: relative;

        &:not(:last-child)::after {
            content: '|';
            margin: 0 8px;
            color: #00000080;
        }
    }
}