.header {
    border: 1px solid red;
    width: 100%;
    min-height: 64px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkWrapper{
    display: flex;
    border: 1px solid yellow;
    gap: 16px;
}

