.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
    margin-top: 24px;
    border: 1px solid purple;
}

.grid-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px solid pink;
}