.container {
    width: 100%;
    position: relative;
    padding-top: 50%;
}

.sucessIcon {
    position: absolute;
    top: -35px;
    z-index: 5;
    left: 47.5%;
    width: 56px;
    height: 56px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}