.videoPreviewContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.videoPreviewContainer>p {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-left: 0.5%;
}


.container {
  position: relative;
  padding-top: 50%;
  margin: 52px 0 0 0;
}

.sucessIcon {
  position: absolute;
  top: -35px;
  z-index: 5;
  left: 48%;
  width: 56px;
  height: 56px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}