@use '../../escopecasepage.scss' as *;

/* CONTENT WRAPPER STYLES */
.contentContainer {
    width: 100%;
}

.contentContainer>div {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 72px;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contentTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.contentBody {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Os estilos globais para .content-text, .content-list estão definidos no escopecasepage.scss */