:root {
    --arrow-size: 30px;
}

.container {
    width: 100%;
    padding: 40px 12px 0;
}

.columnWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 85%;
        top: 8%;
        left: 8%;
        border-top: 1px dashed rgba(0, 0, 0, 0.746);
        opacity: 0.7;
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 13px;
}

.arrow {
    width: var(--arrow-size);
    position: relative;
    z-index: 1;
}

.reverse {
    transform: scaleX(-1);
}

.list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    li {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 1.4;
        position: relative;
        padding-left: 12px; 
        text-align: left;
        width: 50%;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4px; 
            height: 4px; 
            background-color: currentColor;
            border-radius: 50%;
        }
    }
}
.blackColor,
.whiteColor {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.blackColor {
    color: #000000;
}

.whiteColor {
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .columnWrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        &::before {
            display: none;
        }
    }
}

@media (max-width: 480px) {
    .columnWrapper {
        grid-template-columns: 1fr;
    }
}