* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  line-height: 150%;
}

:root {
  --backgroundColor: #0F0F0F;
  --caseBackgroundColor: #272727;
  --textColor: #FFFFFF;
  --fadeTextColor: #FFFFFF80;
  --CaseNavBg: #272727;
  --textHover: #4B4BFF;
  --textSucess: #F3DA8B;
}

body {
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background: #272727;
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #272727;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #F3DA8B;
  border-radius: 8px;
  border: 1px solid #F3DA8B;
}