* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  line-height: 150%;
}

:root {
  --backgroundColor: #0f0f0f;
  --caseBackgroundColor: #272727;
  --textColor: #ffffff;
  --fadeTextColor: #ffffff80;
  --CaseNavBg: #272727;
  --textHover: #4b4bff;
  --textSucess: #f3da8b;

  --max-width: 1440px;
  --content-width: 75%;
  --container-padding: 20px 72px;
  --center-margin: 0 auto;
}

body {
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: #272727;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #272727;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #f3da8b;
  border-radius: 8px;
  border: 1px solid #f3da8b;
}
