.carousel {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.title {
  font-family: "Inter";
  font-size: 16px;
}

.dots {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  --dot-color: #000;
  margin-bottom: 16px;
}

.dot {
  height: 8px;
  width: 20px;
  background-color: #bbbbbb;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;

  &.active {
    background: var(--dot-color);
  }
}

.title>span {
  font-weight: bold;
}

.viewport {
  overflow: hidden;
}

.container {
  display: flex;
}

.slide {
  flex: 0 0 100%;
  min-width: 0;
}

.image {
  width: 100%;
  height: 560px;
  object-fit: contain;
  display: block;
}

.navWrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}